<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>BusinessPlus</title>
		<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
		<link href='https://fonts.googleapis.com/css?family=Raleway:400,200,300,500,600,700,800,900%7COpen+Sans:400,300italic,300,400italic,600,600italic,700,700italic,800,800italic%7CLora:400,400italic,700,700italic%7CRoboto+Slab:400,700,300%7CKarla:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css" media="screen">
		<link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css" media="screen">
		<link rel="stylesheet" type="text/css" href="assets/css/simple-line-icons.css" media="screen">
		<link href="assets/css/owl.carousel.css" type="text/css" rel="stylesheet" media="screen">
		<link rel="stylesheet" type="text/css" href="assets/css/global.css" media="screen">
		<link href="assets/css/settings.css" type="text/css" rel="stylesheet" media="screen">
		<link href="assets/css/layers.css" type="text/css" rel="stylesheet" media="screen">
		<link rel="stylesheet" type="text/css" href="assets/css/style.css" media="screen">
		<link rel="stylesheet" type="text/css" href="assets/css/responsive.css" media="screen">
		<link rel="stylesheet" type="text/less" href="assets/css/skin.less" media="screen">
		<!--[if lt IE 9]>
		<script src="assets/js/html5shiv.min.js"></script>
		<![endif]-->
		
	</head>
	<body data-ng-app="websiteApp" data-ng-controller="FormController">
		<div class="loader">
  <div class="sk-folding-cube">
  <div class="sk-cube1 sk-cube"></div>
  <div class="sk-cube2 sk-cube"></div>
  <div class="sk-cube4 sk-cube"></div>
  <div class="sk-cube3 sk-cube"></div>
</div>
</div><!-- loader -->
		<!--Page Wrapper Start-->
		<div id="wrapper" class="careers">
			<!--Header Section Start-->
			<header id="header" class="header-three">
				<div class="primary_header">
					<div class="container">
						<div class="row">
							<div class="col-xs-8 col-sm-4 logo-wrap-three">
								<a href="#" class="logo-three"><img src="assets/images/header-logo_3.png" alt="logo-three" /></a>
								<a href="tel:+99788856999" class="calling"><span aria-hidden="true" class="icon-call-out"></span>+9978 8856 999</a>

							</div>

							<div class="col-xs-4 col-sm-8 menu-section">
								<nav class="navbar navbar-default">

									<!-- Brand and toggle get grouped for better mobile display -->
									<div class="navbar-header">
										<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
											<span class="sr-only">Toggle navigation</span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
										</button>
									</div>
									<!-- Collect the nav links, forms, and other content for toggling -->
									<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
																				<ul class="nav navbar-nav">
											<li>
												<a href="#">Home </a>
												<ul class="dropdown">
													<li>
														<a href="index.html">homepage </a>	
													</li>
													<li>
														<a href="homepage-one.html">homepage-1 </a>	
													</li>
													<li>
														<a href="homepage-two.html">homepage-2</a>	
													</li>
													<li>
														<a href="homepage-three.html">homepage-3</a>	
													</li>
												</ul>
											</li>
											<li >
												<a href="about_us.html"> About us </a>
											</li>
											<li>
												<a href="#"> services </a>
												
											<ul class="dropdown">
													<li>
														<a href="services.html">services</a>	
													</li>
													<li>
														<a href="services_2.html">services details </a>	
													</li>
													
												</ul>
											</li>
											<li >
												<a href="news.html"> news </a>
											</li>
											<li>
												<a href="#">blog </a>
												<ul class="dropdown">
													<li>
														<a href="blog.html">blog</a>	
													</li>
													<li>
														<a href="blog-post.html">blog-post </a>	
													</li>
													<li>
														<a href="blog_sidebar.html">blog-sidebar</a>	
													</li>
													<li>
														<a href="blog-post_sidebar.html">blog-post-sidebar</a>	
													</li>
												</ul>
											</li>
											<li class="active">
												<a href="#"> pages </a>
												<ul class="dropdown">
													<li>
														<a href="404.html">404</a>	
													</li>
													<li>
														<a href="careers.html">careers</a>	
													</li>
													<li>
														<a href="faq.html">faq</a>	
													</li>
													<li>
														<a href="shortcode.html">shortcode</a>	
													</li>
													<li>
														<a href="testinomial.html">testinomial</a>	
													</li>
													<li>
														<a href="underconstruction.html">under-construction</a>	
													</li>
													
												</ul>
												
											</li>
											<li >
												<a href="contact_us.html"> Contact Us </a>
													<ul class="dropdown">
													<li>
														<a href="contact_us.html">contact us</a>	
													</li>
													<li>
														<a href="contact_us_one.html">contact us + map  </a>	
													</li>
													
												</ul>
											</li>
										</ul>

									</div><!-- /.navbar-collapse -->

								</nav>

							</div>

						</div>

					</div>

				</div>

			</header>
			<!--Header Section End-->
			<!-- 404 banner start here -->

			<section class="banner-careers header-three-margin"></section>
			<!--Content Area Start-->
			<div id="content">
		<!-- 		careers-wrap section start here -->
				<section class="careers-wrap">
					<div class="container">
						<div class="row"> 
							<div class="col-xs-12 col-sm-3 image-carer">
								<img src="assets/images/career-img.jpg" alt="carrer" />
								<img src="assets/images/career-img-1.jpg" alt="carrer" class="rect-img" />
								
								
							</div>
							
							
							<div class="col-xs-12 col-sm-9">
								<div class="wrap-carrer">
									<div class="heading-wrap top-one">
										<h1 class="h1"> Careers </h1>
										<span>Our Opaning positions</span>
									
									</div>
									<p>
										Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.
									</p>
								</div>
								
								
							</div>
						</div>
						<div class="col-xs-12 triangle-img">
							<img src="assets/svg/triangle.svg" alt="yellow-triangel" class="triangle-svg pos-r svg"/>
										<img src="assets/images/sky-blue-triangle.png" alt="sky-triangel" class="blue-triangle">
										

									</div>
						
						
						
					</div>
					
					
					
					
					
					
				</section>
			<!-- 	service-wrap section start here -->
				
				<section class="service-wrap">
							<div class="container">
								<div class="heading-wrap">
									<h2> Our offers </h2>
									<span> We offering awesome facts </span>

								</div>

								<div class="row service-cont">
									<div class="col-xs-12 col-sm-6 col-md-6">
										<div class="row services">
											<div class="col-xs-2  services-info">
												<img src="assets/images/fun-icon.png" alt="" class="boosting-icon">
												<img src="assets/images/fun-icon-hover.png" alt="" class="boosting-hover">

											</div>
											<div class="col-xs-10  services-info">
												<strong> Fun environment</strong>
												<p>
													Lorem Ipsum is simply dummy text of the printing and type
setting industry. Lorem Ipsum has been the industry'
												</p>
											</div>
										</div>
										<div class="row services">
											<div class="col-xs-2  services-info">
												<img src="assets/images/cup-img.png" alt="" class="analyz-icon">
												<img src="assets/images/cup-img-hover.png" alt="" class="analyz-hover">
											</div>
											<div class="col-xs-10  services-info">
												<strong> all you need</strong>
												<p>
											Lorem Ipsum is simply dummy text of the printing and type
setting industry. Lorem Ipsum has been the industry'
												</p>
											</div>
										</div>

									</div>
									<div class="col-xs-12 col-sm-6 col-md-6">
										<div class="row services">
											<div class="col-xs-2  services-info">
												<img src="assets/images/gift.png" alt="" class="support-icon">
												<img src="assets/images/gift-hover.png" alt="" class="support-hover">
											</div>
											<div class="col-xs-10  services-info">
												<strong>compensation</strong>
												<p>
											Lorem Ipsum is simply dummy text of the printing and type
setting industry. Lorem Ipsum has been the industry'
												</p>
											</div>
										</div>

										<div class="row services">
											<div class="col-xs-2  services-info">
												<img src="assets/images/trip-icon.png" alt="" class="time-icon">
												<img src="assets/images/trip-icon-hover.png" alt="" class="time-hover">
											</div>
											<div class="col-xs-10  services-info">
												<strong> pleasure trips</strong>
												<p>
											Lorem Ipsum is simply dummy text of the printing and type
setting industry. Lorem Ipsum has been the industry'
												</p>
											</div>
										</div>

									</div>
									

								</div>
							

							</div>

						</section>
				
				
				<!-- position section start here -->
				<section class="open_position">
					<div class="container">
						<div class="row">
							<div class="col-xs-12 heading-wrap">
									<h2> Open positions </h2>
									<span> Some of our featured vacancy </span>

								</div>
								<div class="col-xs-12">
									
									<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        customer relationship manager
        <span aria-hidden="true" class="icon-arrow-right"></span>
        
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
       <div class="clearfix">
       	<div class="left-accordian-box">
       	      	<ul>
       	      		<li>
       	      			<span class="label">Mission</span>
       	      			<span class="para">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
       	      		</li>
       	      		<li>
       	      			<span class="label">Require</span>
       	      			<ul class="accord-inner">
       	      				<li><i class="fa fa-check"></i>Lorem ipsum dolor sit amet, consectetur.</li>
       	      				<li><i class="fa fa-check"></i>Praesent in urna at neque varius.</li>
       	      				<li><i class="fa fa-check"></i>Mauris lobortis orci non viverra semper.</li>
       	      				<li><i class="fa fa-check"></i>Phasellus tristique sem vitae lorem.</li>
       	      			</ul>
       	      		</li>
       	      	</ul>
       	      	
       	      	
       	      </div>
       	      <div class="right-accordian-box">
       	      	<ul>
       	      		<li>
       	      			<span class="label">Location</span>
       	      			<span class="para">Washington DC</span>
       	      		</li>
       	      		<li>
       	      			<span class="label">type</span>
       	      			<span class="para">Full-Time Position</span>
       	      		</li>
       	      		<li>
       	      			<span class="label">Other</span>
       	      			<span class="para">Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been 
       	the industry.</span>
       	      		</li>
       	      	</ul>
       	      	
       	      	
       	      	
       	      </div>
       </div>
      <div class="apply-wrap text-right">
      	<a class="btn more-btn read-more apply-btn" href="#"> apply now</a>
      </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
         HR manager
           <span aria-hidden="true" class="icon-arrow-right"></span>
       
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
       <div class="clearfix">
       	<div class="left-accordian-box">
       	      	<ul>
       	      		<li>
       	      			<span class="label">Mission</span>
       	      			<span class="para">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
       	      		</li>
       	      		<li>
       	      			<span class="label">Require</span>
       	      			<ul class="accord-inner">
       	      				<li><i class="fa fa-check"></i>Lorem ipsum dolor sit amet, consectetur.</li>
       	      				<li><i class="fa fa-check"></i>Praesent in urna at neque varius.</li>
       	      				<li><i class="fa fa-check"></i>Mauris lobortis orci non viverra semper.</li>
       	      				<li><i class="fa fa-check"></i>Phasellus tristique sem vitae lorem.</li>
       	      			</ul>
       	      		</li>
       	      	</ul>
       	      	
       	      	
       	      </div>
       	      <div class="right-accordian-box">
       	      	<ul>
       	      		<li>
       	      			<span class="label">Location</span>
       	      			<span class="para">Washington DC</span>
       	      		</li>
       	      		<li>
       	      			<span class="label">type</span>
       	      			<span class="para">Full-Time Position</span>
       	      		</li>
       	      		<li>
       	      			<span class="label">Other</span>
       	      			<span class="para">Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been 
       	the industry.</span>
       	      		</li>
       	      	</ul>
       	      	
       	      	
       	      	
       	      </div>
       </div>
      <div class="apply-wrap text-right">
      	<a class="btn more-btn read-more apply-btn" href="#"> apply now</a>
      </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Customer Success Manager
          <span aria-hidden="true" class="icon-arrow-right"></span>
        
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
       <div class="panel-body">
       <div class="clearfix">
       	<div class="left-accordian-box">
       	      	<ul>
       	      		<li>
       	      			<span class="label">Mission</span>
       	      			<span class="para">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
       	      		</li>
       	      		<li>
       	      			<span class="label">Require</span>
       	      			<ul class="accord-inner">
       	      				<li><i class="fa fa-check"></i>Lorem ipsum dolor sit amet, consectetur.</li>
       	      				<li><i class="fa fa-check"></i>Praesent in urna at neque varius.</li>
       	      				<li><i class="fa fa-check"></i>Mauris lobortis orci non viverra semper.</li>
       	      				<li><i class="fa fa-check"></i>Phasellus tristique sem vitae lorem.</li>
       	      			</ul>
       	      		</li>
       	      	</ul>
       	      	
       	      	
       	      </div>
       	      <div class="right-accordian-box">
       	      	<ul>
       	      		<li>
       	      			<span class="label">Location</span>
       	      			<span class="para">Washington DC</span>
       	      		</li>
       	      		<li>
       	      			<span class="label">type</span>
       	      			<span class="para">Full-Time Position</span>
       	      		</li>
       	      		<li>
       	      			<span class="label">Other</span>
       	      			<span class="para">Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been 
       	the industry.</span>
       	      		</li>
       	      	</ul>
       	      	
       	      	
       	      	
       	      </div>
       </div>
      <div class="apply-wrap text-right">
      	<a class="btn more-btn read-more apply-btn" href="#"> apply now</a>
      </div>
      </div>
    </div>
  </div>
   <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Infrastructure Developer
            <span aria-hidden="true" class="icon-arrow-right"></span>
        
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="panel-body">
       <div class="clearfix">
       	<div class="left-accordian-box">
       	      	<ul>
       	      		<li>
       	      			<span class="label">Mission</span>
       	      			<span class="para">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
       	      		</li>
       	      		<li>
       	      			<span class="label">Require</span>
       	      			<ul class="accord-inner">
       	      				<li><i class="fa fa-check"></i>Lorem ipsum dolor sit amet, consectetur.</li>
       	      				<li><i class="fa fa-check"></i>Praesent in urna at neque varius.</li>
       	      				<li><i class="fa fa-check"></i>Mauris lobortis orci non viverra semper.</li>
       	      				<li><i class="fa fa-check"></i>Phasellus tristique sem vitae lorem.</li>
       	      			</ul>
       	      		</li>
       	      	</ul>
       	      	
       	      	
       	      </div>
       	      <div class="right-accordian-box">
       	      	<ul>
       	      		<li>
       	      			<span class="label">Location</span>
       	      			<span class="para">Washington DC</span>
       	      		</li>
       	      		<li>
       	      			<span class="label">type</span>
       	      			<span class="para">Full-Time Position</span>
       	      		</li>
       	      		<li>
       	      			<span class="label">Other</span>
       	      			<span class="para">Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been 
       	the industry.</span>
       	      		</li>
       	      	</ul>
       	      	
       	      	
       	      	
       	      </div>
       </div>
      <div class="apply-wrap text-right">
      	<a class="btn more-btn read-more apply-btn" href="#"> apply now</a>
      </div>
      </div>
    </div>
  </div>
</div>
								</div>
								
								
							
							
							
						</div>
						
						
					</div>
					
					
				</section>
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				

			</div>
			<!--Content Area End-->

				<!--Footer Section Start-->
					<footer id="footer" class="footer-two">
						
						<div class="container">
							<div class="row">
								<div class="col-sm-2 col-xs-12 foot-main-part">
									<a href="#" class="footer-logo"><img src="assets/images/footer-logo.png" alt="" /></a>
									<span>2015 © lawyer.</span>
									<ul class="footer-social-links clearfix">
										<li><a href="#" class="fa fa-facebook"></a></li>
										<li><a href="#" class="fa fa-google-plus"></a></li>
										<li><a href="#" class="fa fa-twitter"> </a></li>
										<li><a href="#" class="fa fa-linkedin"> </a></li>
									</ul>
								</div>
								<div class="col-xs-12 col-sm-2 col-sm-offset-2"> 
									<h5> Navigation</h5>
									<ul class="foot-nav">
										<li>
											<a href="#"><i class="fa fa-caret-right"> </i>home</a>
										</li>
											<li>
											<a href="#"><i class="fa fa-caret-right"> </i>about us</a>
										</li>
											<li>
											<a href="#"><i class="fa fa-caret-right"> </i>services</a>
										</li>
											<li>
											<a href="#"><i class="fa fa-caret-right"> </i>tesimonial</a>
										</li>
											<li>
											<a href="#"><i class="fa fa-caret-right"> </i>blog</a>
										</li>
											<li>
											<a href="#"><i class="fa fa-caret-right"> </i>contact us</a>
										</li>
										
									</ul>
								
								</div>
								<div class=" col-xs-12 col-sm-5 col-sm-offset-1">
							<div style="display: none" id="footerSuccess"> I will get back to you soon</div>
							<h5> Quick contact us</h5>
							<div class="foot-contact-form">
								<form method="post" name="footerContactForm" novalidate id="footercontact">
								<input type="text" class="form-control" placeholder="Name*" id="f-name" name="name" data-ng-model="footerformData.name" required="" data-ng-pattern = "/^[a-zA-Z]/" data-ng-class="{'error' : footerContactForm.name.$error.pattern || footerContactForm.$submitted && footerContactForm.name.$invalid && successStatus}"/>
								<input type="email" class="form-control email"  placeholder="Email*" id="f-email" name="email" data-ng-model="footerformData.email" required="" data-ng-pattern = "^\b[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}\b$" data-ng-class="{'error' : footerContactForm.email.$error.pattern || footerContactForm.$submitted && footerContactForm.email.$invalid && successStatus}">
								<textarea class="form-control" placeholder="comment*" name="textarea" id="f-text" data-ng-model="footerformData.message" required data-ng-class="{'error' : footerContactForm.textarea.$error.required && footerContactForm.textarea.$blured || footerContactForm.$submitted && footerContactForm.textarea.$invalid && successStatus}"></textarea>
								<button type="submit" class="btn btn-default btn-submit" data-ng-click = "submitfooterForm(footerContactForm.$invalid)">
									submit now
								</button>
								</form>
								
							</div>

						</div>
								
							</div>
							
						</div>

					</footer>
					<!--Footer Section End-->

		</div>
		<!--Page Wrapper End-->
		<script type="text/javascript" src="assets/js/jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="assets/js/angular.js"></script>
		<script type="text/javascript" src="assets/js/bootstrap.js"></script>
		<script type="text/javascript" src="assets/js/less.js"></script>
		<!-- revolution Js -->
		<script type="text/javascript" src="assets/js/jquery.themepunch.tools.min.js"></script>
		<script type="text/javascript" src="assets/js/jquery.themepunch.revolution.min.js"></script>
		<script type="text/javascript" src="assets/js/jquery.revolution.js"></script>
		<!-- revolution Js -->
		<script type="text/javascript" src="assets/js/owl.carousel.js"></script>
		<script type="text/javascript" src="assets/js/site.js"></script>
		<script src="assets/js/app.js"></script>
		
	</body>
</html>